#
# A simple config fragment that "just works" in arm64
#
# Architecture
#CONFIG_ARCH_VIRT=y
#CONFIG_ARM64=y
#CONFIG_64BIT=y
#CONFIG_MMU=y

# Basic system support
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_RD_LZ4=y
CONFIG_RD_XZ=y

# Virtual machine & CPU
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
CONFIG_PARAVIRT=y

CONFIG_VIRTIO=y
CONFIG_VIRTIO_MMIO=y

### Block devices 
# These are enough for virtio (tested with arm64)
CONFIG_BLK_DEV=y
CONFIG_VIRTIO_BLK=y
# This should take care of ata hd (tested with arm64)
#CONFIG_ATA=y
#CONFIG_ATA_PIIX=y  # for IDE emulation in QEMU
#CONFIG_ATA_SFF=y
#CONFIG_ATA_BMDMA=y
#CONFIG_AHCI=y
#CONFIG_ATA_GENERIC=y

#### Filesystems
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_TMPFS=y
#CONFIG_TMPFS_POSIX_ACL=y

### Network
## Note: this configuration DOES NOT have PCI, deliberately. So either enable PCI or use virtio-net-device instead of virtio-net if you use QEMU
## e.g., in PscgBuildOS qemu: NETWORKPARAMS_0="-netdev user,id=unet -device virtio-net-device,netdev=unet"
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NETDEVICES=y
CONFIG_VIRTIO_NET=y
# PACKET solves udhcpc: socket: Address family not supported by protocol. One can live without it. UNIX is for UDS - and also, one could live without i
CONFIG_PACKET=y
CONFIG_UNIX=y


### Console
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=7
CONFIG_PRINTK=y
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_HVC_DRIVER=y


### Required for building an uncompressed Image
CONFIG_EFI_STUB=y
CONFIG_EFI=y

### Required for mounting fat
# This solves codepage cp437 not found which fails mount
# and "IO charset iso8859-1 not found" which allows to mount but does not show the charset properly
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y

### Misc Filesystems
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y

# Other useful and trivial stuff
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y


#
# Architecture specifics
#

# Device Drivers
# The following two are ARM specifc
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

